.pi {
  max-height: 100%;
  ul[class^="thumb"] {
    display: flex;
    padding: 0 !important;
    justify-content: center;
  }
  .carousel {
    .thumbs-wrapper.axis-vertical {
      margin: 0;
    }
  }

  li {
    cursor: pointer;
    &.thumb {
      transition: all ease-in-out .5s;
      &:hover {
        border: none;
        opacity: 1;
      }
      border: none;
      opacity: .5;
      width: 85px;
      &.selected {
        border: none;
        opacity: 1;
      }
    }
  }
}