.vitrine {

  .compactToolbar {
    min-height: unset;
    padding: .4rem 0;
  }
  .smallButton {
    padding: 0;
    min-width: 45px;
  }
  .layoutController {
    margin-left: auto;
  }
  .productCardItem {
    width: 25%;
    transition: 1s ease-in-out all;
    margin-bottom: .15rem;
    &.normal {
      min-width: 220px;
    }
    &.large {
      width: auto;
      .productCardWrapper {
        transition: 1s ease-in-out all;
        max-width: unset;
      }
    }
    @media (max-width: 500px) {
      width: auto;
    }
  }

  .sort,
  .layoutController {
    flex: 1 1 0;
  }
  .productCardContainer {
    padding: .4rem .2rem;
    justify-content: stretch;
  }
  .upperNavigation {
    justify-content: center;
    flex-wrap: nowrap;
  }
  .itemsPerPage {
    font-size: .8rem;
    font-weight: normal;
  }
}