.vitrine {

  .compactToolbar{
    min-height: unset;
    padding: .4rem 0;
  }
  .smallButton {
    padding: 0;
    min-width: 45px;
  }
  .layoutController {
    margin-left: auto;
  }
  .productCardItem {
    width: 25%;
    margin-bottom: .3rem;
  }

  .sort,
  .layoutController{
    flex: 1 1 0;
  }
  .productCardContainer {
    padding: .4rem .2rem;
    justify-content: stretch;
  }
  .upperNavigation {
    justify-content: center;
    flex-wrap: nowrap;
  }
  .itemsPerPage {
    font-size: .8rem;
    font-weight: normal;
  }
}