.Table {
  .tableRow {
    td, th {
      padding: .2rem .2rem;
      min-height: 50px;
      height: 50px;
      @media(max-width: 400px) {
        padding: .1rem .1rem;
      }

      text-align: center;

    }
    td:last-of-type {
      display: flex;
      justify-content: center;
    }
  }
  .waining {
    background-color: #FBC02D;
    color: #fff;
    &:hover {
      background-color: #FBC02D;

    }
  }
}