.dashboard{
.fabWrapper{
  position: relative;
  @media(min-width: 600px){
    bottom: 3rem;
    position: fixed;
  }

  height: 3rem;
  width: 100%;
}

  .fabButton{
    position: absolute;
    top: 0;
    right: 3rem;
    z-index: 5555;
  }
}