.NotificationMenu {
  min-height: 300px;
  .NotificaitonToolbar {
    min-height: unset;
    height: 40px;
    padding: 0;
  }
  .notificationRoot {
    padding: 0;
    min-height: unset;
  }
  .notificaitonTabRoot {
    min-height: 40px;
    min-width: 4rem;
  }
}