.userCart {
  padding-top: 1rem;
  .tabel {

    tr > td > {
      padding: 0 !important;
    }
  }

  .header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .summery {
    font-size: 1rem;
    text-align: center;
    line-height: 36px;

    .priceToPay {
      font-weight: bold;
      text-transform: uppercase;

    }
    .tableWrapper {
      margin: auto;
    }
    .savedPrice {
      font-weight: bold;
      text-transform: uppercase;
      color: #43A047;
    }
  }
  .SOText {
    font-weight: bold;
    text-align: center;
    color: transparentize(black, .4);
    font-size: .9rem;
  }

  .orderSubmitionButton {
    width: 67.6666%;
    margin: auto;
    text-align: right;
    padding-top: 2rem;
    .SOText {
      color: #ffe;
    }
    .saveItForNow {
      backgorund-color: #4FC3F7;
    }
  }

}