.productCardWrapper {
  margin: auto;
  padding: .4rem;
  min-width: 240px;
  max-width: 250px;
  .cardHeaderRoot {
    padding-left: 0 ;
    padding-right: 0 ;
  }
}

.productCard {
  div[class^="MuiCardHeader-action"] {
    margin: 0;
    position: absolute;
    right: 0;
    top: .6rem;
  }

  position: relative;
  .pcChip {
    position: absolute;
    right: 1rem;
    top: .5rem;
  }
  .priceARate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem;
    & > div {
      //margin: .7rem;
    }
  }
}