.productCardWrapper{
  padding: .5rem;
}
.productCard {
  .viewDetailsB {
  }
  min-width: 240px;
  max-width: 250px;
  position: relative;
  .pcChip {
    position: absolute;
    right: 1rem;
    top: .5rem;
  }
  .priceARate {
    display: flex;
    justify-content: center;
    margin: .7rem;
    & > div {
      //margin: .7rem;
    }
  }
}