.productCard {
  .viewDetailsB{
    position: absolute;
    z-index: 9999;
    top: 1rem;
    right: 0;
  }
  max-width: 240px;
  margin: auto;
  position: relative;
  .pcChip{
    position: absolute;
    right: 1rem;
    top: .5rem;
  }
  .priceARate {
    display: flex;
    justify-content: center;
    margin: .7rem;
  & > div{
    //margin: .7rem;
  }
  }
}