.breadcrumbs {
  margin: .5rem 0;
  padding: 0 .5rem;
  min-height: 40px;
  max-height: 50px;
  display: flex;
  align-items: center;
  .breadcrumbsLink {
    text-transform: uppercase;
    font-weight: 600;
    opacity: .8;
    &.activeBreadcrumbItem {
      opacity: .6;
    }
  }
  .chevronWrapper {
    span {
      display: block;
      opacity: .8;
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .breadcrumbsButton {
    padding: 0 !important;

  }
}