@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "~react-id-swiper/src/styles/css/swiper.css";
@import '~react-perfect-scrollbar/dist/css/styles.css';

body {
  margin: 0;
  padding: 0;
  > * {
    box-sizing: border-box !important;
  }
}


.container {
  width: 100%;
  &.pa {
    padding-right: 15px;
    padding-left: 15px;
  }
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.TWhite {
  color: #fff;
}
.fapFloat{


}