.landingPageSettings {
  .settingGrid {
    margin-top: 1rem;
    padding: 1rem;
  }
  form {
    max-height: 400px;
    .input {
      width: 98%;
    }
  }
  .crouselDivider {
    margin: 1rem 0 .5rem;
  }
  .caroselSettingPapper{
    margin: .4rem .4rem .6rem;
    padding: .1rem 1rem 2rem 2rem;
  }
}